<div *ngIf="!userdataLoaded">
  <div class="spinner-border"></div>
 </div>
<div class="alert alert-dark" role="alert" *ngIf="userdataLoaded">
  {{userData.login}}
  <span><button type="button" class="btn btn-primary">{{userData.followers}} followers </button>
    <button type="button" class="btn btn-secondary">{{userData.following}} following </button>
    <button type="button" class="btn btn-primary">{{userData.public_repos}} Repositories</button>
  </span>
  <div>
    <img [src]="userData.avatar_url"  alt="git repo avatar" class="img-thumbnail">
  </div>
</div>
<!-- table -->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">REPOSITORY NAME</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of repoData|slice:startIndex:lastIndex;">
      <td>{{i.name}}</td>
      <td><a href="{{i.html_url}}" target="_blank">{{i.html_url}}</a></td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example" >
  <ul class="pagination">

    <li class="page-item">
      <a class="page-link" id="previous" (click)="PreviousPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

    <li *ngFor="let item of getArray(repoData.length);let po =index" class="page-item">
      <a class="page-link" (click)="updateIndex(po)">{{po+1}}</a></li>

    <li class="page-item">
      <a class="page-link"  id="next" (click)="NextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>   
        <span class="sr-only">Next</span>
      </a>
    </li>
    
  </ul>
</nav>
