.form-control{
    padding:10px;
    margin:0px 30px 30px 256px;
    
}
button{
    padding:10px;
    margin: 32px 30px 30px 534px;
}
.alert{
    text-align: center;
    padding:10px;
    margin:32px 30px 30px 387px; 
    
}

